<div class="detail-card" id="<%= dom_id therapist %>">
  <div class="detail-row">
    <span class="detail-label">Nombre</span>
    <span class="detail-value"><%= therapist.name %></span>
  </div>
  <div class="detail-row">
    <span class="detail-label">Email</span>
    <span class="detail-value"><%= therapist.email %></span>
  </div>
  <div class="detail-row">
    <span class="detail-label">Nº de colegiado</span>
    <span class="detail-value"><%= therapist.college_number %></span>
  </div>
</div>
