<div class="detail-card" id="<%= dom_id testimonial %>">
  <div class="detail-row">
    <span class="detail-label">Autor</span>
    <span class="detail-value"><%= testimonial.author_name %></span>
  </div>
  <div class="detail-row">
    <span class="detail-label">Perfil</span>
    <span class="detail-value"><%= testimonial.role %></span>
  </div>
  <div class="detail-row">
    <span class="detail-label">Testimonio</span>
    <span class="detail-value"><%= testimonial.content %></span>
  </div>
</div>
